<ion-header>
  <ion-toolbar>
    <ion-title>
      Bubble Level
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <div class="con">
      <div [ngClass]="{'container':true, 'container-circle':flat}">
        <div [ngClass]="{'bubble-container': true, 'bubble-container-circle': flat}">
          <div class="bubble" appBubbleLevel>
            <div class="bubble-cover"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
