<ion-content>
  <div class="ion-padding">
    <div class="con">
      <div class="animated zoomInLeft delay-2s">
        <div *ngIf="screenOrientation.type.indexOf('portrait') && !flat">
          <p>Y:{{y}}&#176;</p>
        </div>
        <div *ngIf="screenOrientation.type.indexOf('landscape') && !flat">
          <p>X:{{x}}&#176;</p>
        </div>
        <div *ngIf="flat">
          <p>Z: {{z}}&#176;</p>
          <p>ZX: {{zx}}&#176;</p>
        </div>
      </div>
      <div [ngClass]="{'container':true, 'container-circle':flat}" class="animated fadeInDownBig slow">
        <div [ngClass]="{'bubble-container': true, 'bubble-container-circle': flat}">
          <div class="bubble" appBubbleLevel>
            <div class="bubble-cover"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
